node_modules
.env
.DS_Store
dist
out
build
coverage
.vscode/

# Backend/Bun
bun.lockb

# Reference Docs (Strictly developer eyes only)
assets/reference-docs/*
!assets/reference-docs/.keep


.env.local
.vercel
.env*.local
